a {
	color: black;
}

a:hover {
	text-decoration: none;
}

.cardParent {
	.icons {
		display: none;
	}
}

.cardParent:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

	.icons {
		display: block;
	}
}
